<%= stylesheet_link_tag "market.css" %>

<div>

<div id="flower_query">
		<h2>Shops that sells Sunflower</h2>
		<% @shops_q.each do |shop_q|%>
			<ul>
			<li><%= shop_q.name%></li>
			</ul>	
		<%end%>
	</div>
	<div id="market_cost">
		<h2>Total Market Cost:</h2> <%= @market_cost%>
	</div>
</div>
